<div class="posts-wrapper row">
  <% @posts.each do |post| %>
    <div class="post">
      <div class="post-head row">
        <div class="user-name">
          <span class="col-md-6"><%= post.user.user_name %></span>
          <span class="col-md-6 text-right"><%= time_ago_in_words((post.image_updated_at), locale: :en_abbrev) %></span>
        </div>
      </div>
      <div class="image center-block">
        <%= link_to (image_tag post.image.url(:medium), class: "img-responsive"), post_path(post)%>
      </div>
      <div class="post-bottom row">
        <div class="like-button col-sm-2">
          <% if current_user.has_liked?(post) %>
            <span class="glyphicon glyphicon-heart"></span>
            <% if post.likes.count > 0 %>
              <span><%= post.likes.count %></span>
            <% end %>
          <% else %>
            <%= link_to post_likes_path(post), method: :create do %>
              <span class="glyphicon glyphicon-heart-empty"></span>
              <% if post.likes.count > 0 %>
                <span><%= post.likes.count %></span>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="caption col-sm-10">
          <span class="user-name"><strong ><%= post.user.user_name %></strong>: <%= post.caption %></span>
        </div>
      </div>
    </div>
  <% end %>
</div>
