<div class="posts-wrapper row">
  <div class="post">
    <div class="post-head">
      <div class="name">
        User name
      </div>
    </div>
    <div class="image center-block">
      <%= image_tag @post.image.url(:medium) %>
    </div>
    <p class="caption"><%= @post.caption %></p>
    <hr>
    <div class="comments" >
      <% @post.comments.each do |comment| %>
        <p>
        <strong>Comment:</strong>
        <%= comment.comment %>
        </p>
      <% end %>
    </div>
    <hr>
      <%= simple_form_for ([@post, @post.comments.build]), html: {class: 'form-horizontal', multipart: true} do |c| %>
        <div class="form-group text-center">
          <%= c.input :comment, :as => :text, required: true %>
        </div>
        <div class="form-group text-center">
          <%= c.button :submit, value: "Add Comment" %>
        </div>
      <% end %>
  </div>


<p class="text-center"><%= link_to "Back", posts_path %></p>
